<div class="container">
  
  <h2>Sign up</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.select(:gender, ['Male', 'Female','other']) %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :phone %>
      <%= f.file_field :avatar,class: "form-control-file" %>
    </div>
    <div class="col-md-6 col-lg-6"> 
      <%= f.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ), {:include_blank => 'Choose a country.'}%>
      <%= f.select :state, options_for_select([]), {:include_blank => 'Choose a state'} %>
      <%= f.select :city, options_for_select([]), {:include_blank => 'Choose a city'} %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<script>
  $( document ).ready(function() {  
    $("#user_country").change(function () {
      $("#user_state, #user_city").find("option:gt(0)").remove();
      $('#user_state').empty().append('<option selected="selected" value="">Select state</option>');
      $('#user_city').empty().append('<option selected="selected" value="">Select city</option>');
      $.getJSON("/states", {
        country_id: $(this).val()
      },
      function (resp) {
        for (var i = 0; i < resp.states.length; i++) {
          $("<option/>").attr("value", resp.states[i][1]).text(resp.states[i][0]).appendTo($("#user_state"));
        }
      });
    });
    $("#user_state").change(function () {
      $('#user_city').empty().append('<option selected="selected" value="">Select city</option>');
      $.getJSON("/cities", {
        state_id: $(this).val()
      },
      function (resp) {
        for (var i = 0; i < resp.cities.length; i++) {
          $("<option/>").attr("value", resp.cities[i]).text(resp.cities[i]).appendTo($("#user_city"));
        }
      });
    }); 
  });
</script>